#name {
    color: black;
    font-family: cursive;
    text-align: center;
    width: 500em;
    display: block;
}
body {
    background-color: white;
}
.intro {
    text-align: center;
}
.bgimg {
    display: block;
    margin: 0px auto;
}