#name {
    color: blueviolet;
    font-family: cursive;
    text-align: center;
    width: 200px;
}
body {
    background-color: darkgray;
}
.intro {
    text-align: center;
}
.bgimg {
    display: block;
    margin: 0px auto;
}